/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;   
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.scrollbar-black::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

.scrollbar-black::-webkit-scrollbar-thumb {
  background-color: #444; 
  border-radius: 4px;
}

.scrollbar-black {
  scrollbar-color: #444 black; 
}
